<form class="form-horizontal task-form">
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
          {{errorMessage}}
        </div>
    {{/if}}

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-2 control-label" for="task-title">Title</label>
        <div class="col-md-8">
            {{input id='task-title' class='form-control input-md' placeholder='Task title' value=model.title autofocus='autofocus'}}
        </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="text-description">Description</label>
        <div class="col-md-8">
            {{textarea value=model.description id='task-description' class='form-control'}}
        </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="task-status">Select Basic</label>
        <div class="col-md-8">
            {{view 'select' content=taskStatuses selection=model.status id='task-status' class='form-control'}}
        </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="button1id">&nbsp;</label>
        <div class="col-md-8">
            <button  {{action 'save'}} class="btn btn-success">Save</button>
            <button  {{action 'cancel'}} class="btn btn-primary">Cancel</button>
        </div>
    </div>
</form>
